body{
    font-family: Arial, Helvetica, sans-serif;
}

.main_para{
    display: flex;
    height: 1024px;
    width: 1536px;
    margin-left: 150px;
}
.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 225px;
        margin-left: 150px;
}
.img{
    height: 15px;
    width: 15px;
}
.heading{

    font-size: 50px;
    width: 600px;
    margin-bottom: 30px;
}
.info{
    margin-top: 0px;
    font-size: 30px;
    width: 600px;
    color: rgb(147, 147, 147);
}
button{
    margin-top: 30px;
    height: 70px;
    width: 200px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    font-weight: bold;
    margin-bottom: 15px;
}
button:hover{
    cursor: pointer;
}
.last_{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    column-gap: 25px;
    margin-bottom: 0px;
}
.last__{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    column-gap: 25px;
    margin-top: 0px;
}
.get{
    color: white;
    background-color: rgb(0, 85, 255);
}
.demo{
    color: rgb(96, 152, 255);
    background: none;
    border: 2px solid rgb(96, 152, 255);
}