body{
    padding: 0;
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 50px;
    width: 650px;
    background-color: rgb(222, 235, 246);
    border-radius: 10px;
}
.para{
    display: flex;
    
}
img{
    height: 25px;
    margin-left: 10px;
    margin-top: 15px;
    

}
p{
    margin-left: 5px;
    margin-right: 40px;
}
button{
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    background: none;
    justify-content: center;
    align-items: center;
    border: 0px;
    margin-bottom: 0px;

}
button:hover{
    color: blue;
    cursor: pointer;
}
.satrted{
    color: white;
    background-color: blue;
    height: 35px;
    margin-top: 7px;
    border-radius: 10px;
    width: 100px;
}