body{
    font-family: Arial, Helvetica, sans-serif
}
.main_P{
display: flex;

margin-left: 500px;
margin-top: 150px;
}
.pariant{
    height: 1024px;
    width: 1536px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;

}
.st{
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nd{
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
  transform: translateY(20px);
    box-shadow: 0 0px 30px rgba(0,0,0,0.25);
    align-items: center;
    display: flex;
    flex-direction: column;

 
}
.Popular{
    margin-top: 0px;
}
.head{
    font-weight: bolder;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.p{
    margin-top: 10px;
    font-size: 25px;


}
.price{
    font-size: 100px;
}
.tike{
    height: 30px;
    margin-top: 10px;
    padding-right: 10px;

}
.paln{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
button{
    color: white;
    background-color: rgb(34, 126, 255);
    border: none;
    border-radius: 10px;
    height: 70px;
    width: 220px;
    margin-top: 25px;
    font-size: 25px;
}
.rd{
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;


}