body{
    font-family: Arial, Helvetica, sans-serif;
}
.bk_g{
    margin-left: 200px;
    height: 1023px;

}
.main_p{
    margin-top: 300px;
display: flex;

}
.main{
    margin-left: 350px;
    position: absolute;
    margin-top: 180px;
    display: flex;

}
.div1{
    display: flex;
    flex-direction: column;
}
.div2{
    display: flex;
    flex-direction: column;
    margin-left:70px;
    margin-top: 460px;
}
.headingg{
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.info{
    font-size: 28px;
    margin-top: 20px;
}
input{
    margin-top:15px ;
    height: 70px;
    border-radius: 10px;
    width: 360px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 25px;
    border-color: azure;
    
}
::placeholder{
    padding: 20px;
}
.message{
    height: 150px;
    margin-bottom: 15px;
    width: 730px;
}
img {
    height: 10px;
}
button{
    background-color: rgb(0, 102, 255);
    width: 310px;
    height: 70px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}
.chaild{
    display: flex;
    align-items: center;
    /* font-size: 30px; */
    margin-top: 0px;
    margin-bottom: 0px;
    column-gap: 20px;
    row-gap: 200px;
}
img{
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}