body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(230, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
}
.main{

    margin-top: 100px;
    background-color: rgb(197, 246, 248);
    height: 415px;
    width: 315PX;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraint{

    /* margin-top: 100px; */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    height: 400px;
    width: 300PX;
    border-radius: 10px;

    
    

}
.titel{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(199, 237, 251);
    height: 40px;
    border-radius: 10px 10px 0px 0px ;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 1px;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 0px;
    color: grey;
    margin-bottom: 40px;
}
.line{
    height: 2px;
    background-color: rgb(0, 0, 0);
    width: 300px;
    margin-bottom: 30px;
}
p{
    font-size: 15px;
    margin-left: 30px;
}
button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 42, 255);
    height: 40px;
    width: 250px;
    border: 0px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 25px;
}
.last{
    display: flex;
    margin-left: 0px;
    margin-top: 35px;
    justify-content: center;
    word-spacing: 30px;
}
.option{
    display: flex;
    flex-direction: row;
    background: none;
    color: black;
    margin-left: 0px;
}
.option1{
    display: flex;
    flex-direction: row;
    background: none;
    color: black;
    margin-left: 0px;
}
.option2{
    display: flex;
    flex-direction: row;
    background: none;
    color: black;
    margin-left: 0px;
}
.option3{
    display: flex;
    flex-direction: row;
    background: none;
    color: black;
    margin-left: 0px;
}
.option1:hover{
    cursor: pointer;
    color: brown;
}
.option2:hover{
    cursor: pointer;
    color: brown;
}
.option3:hover{
    cursor: pointer;
    color: brown;
}
.img1{
    height: 20px;
    margin-left:39px ;
}
img{
    height: 20px;
    margin-left:10px ;
}