body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main_pariant{
    margin-top: 150px;
    background-color: black;
    height: 350px;
    width: 850px;
    border-radius: 10px;
}
.main{
    /* margin-top: 150px; */
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    /* height: 340px; */
    width: 800px;
    border-radius: 10px;
}
img{
    height: 30px;
}
.sation1{
    margin-left: 30px;
    width: 170px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    
}
.main_company{
    font-size: 19px;
    font-weight: bold;
}
.logo{
    margin-top: 15px;
    border-radius: 30px;
    margin-left: 13px;
    height: 120px;
}
button{
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.sation2{
    margin-top: 30px;
    width: 130px;
    margin-right: 25px;
    color: white;
}
.sation3{
    margin-top: 30px;
    width: 130px;
    margin-right: 25px;
    color: white;
}
.main_Resorces{
    font-size: 19px;
    font-weight: bold;

}
.sation4{
    margin-top: 30px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
}
.main_subscribes{
    font-size: 19px;
    font-weight: bold;

}
input{
    color: rgb(255, 255, 255);
    background-color: rgb(24, 89, 255);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}

::placeholder{
    /* display: grid;
    position: relative; */
    color: #e06eff;
  
    border: none;
    border-radius: 5px;

}
.sub{

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    height: 25px;
    color: rgb(0, 0, 0);

}
.input{
    background-color: rgb(24, 89, 255);
    border-radius: 5px;
}
.line{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 1px;
    width: 800px;
    margin-left: 25px;
    margin-top: 25px;
}
.last{
    display: flex;
    color: white;
    justify-content: center;
}