body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg{
    height: 1024px;
    width: 1536px;
}
.main_p{
    display: flex;
    margin-left: 500px;
    margin-top: 300px;
}
.main{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 1024px;
    width: 1536px;
    align-items: center;
}
h1{
    margin-top: 30px;
    font-size: 60px;
}
h3{
    margin-top: 10px;
    font-size: ;
}
.centar{
    row-gap: 20px;
}
.st{
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}
.Sarah{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}
.info{
    margin-top: 0px;
    display: flex;
    font-size: 25px;
    align-items: center;
    width: 350px;
}

.logo{
    height: 90px;
    border-radius: 50%;

}
.dobule{
    height: 70px;
    transform: rotate(180deg);
    position: absolute;
    width: 120px;
}
.commant{
    font-size: 25px;
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 9px;
}
.star{
    height: 30px;
    
}
.satrs{
    margin-left: 80px;
    margin-top: 0px;
}
.Mark{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}
.Lisa{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}

.nd{
    display: flex;
    column-gap: 20px;
}
.james{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}
.emily{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}
.david{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: black;
    height: 350px;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
}
img{
    height: 10px;
}